/Jellyfish.xcodeproj/jordanekay.pbxuser
/Jellyfish.xcodeproj/jordanekay.mode1v3
/build/Jellyfish.build/Jellyfish.pbxindex/symbols0.pbxsymbols
/build/Jellyfish.build/Jellyfish.pbxindex/subclasses.pbxbtree
/build/Jellyfish.build/Jellyfish.pbxindex/strings.pbxstrings/strings
/build/Jellyfish.build/Jellyfish.pbxindex/strings.pbxstrings/control
/build/Jellyfish.build/Jellyfish.pbxindex/refs.pbxbtree
/build/Jellyfish.build/Jellyfish.pbxindex/protocols.pbxbtree
/build/Jellyfish.build/Jellyfish.pbxindex/pbxindex.header
/build/Jellyfish.build/Jellyfish.pbxindex/imports.pbxbtree
/build/Jellyfish.build/Jellyfish.pbxindex/files.pbxbtree
/build/Jellyfish.build/Jellyfish.pbxindex/decls.pbxbtree
/build/Jellyfish.build/Jellyfish.pbxindex/cdecls.pbxbtree
/build/Jellyfish.build/Jellyfish.pbxindex/categories.pbxbtree
/.DS_Store